In [3]:
import math
from numpy import random
import numpy as np

In [4]:
math.sqrt(25)
math.pi

3.141592653589793

In [15]:
dataOne = random.rand(5,5)
np.mean(dataOne)

0.5063894177906357

In [18]:
varOne = 25
varTwo = 'HIT here'
varThree = str(varOne) + varTwo
print(varThree)

25HIT here

In [21]:
tel = {'jack': 4098, 'sape': 4139}
tel['jack']

4098

In [25]:
Motos = {"Color":'Roja', 'Marca':'Pulsar','Modelo':2012}
Motos['Color']

'Roja'

In [4]:
x=10
Exp = math.exp(x)
Ceil = math.ceil(5.6)
Factorial = math.factorial(4)
print(Factorial)
print(Ceil)

24
6

In [6]:
17 // 3  # floor dvision discards the fractional part

17

In [7]:
5 * 3 + 2  # result * divisor + remainder

17

In [8]:
17 % 3  # the % operator returns the remainder of the division

2

In [9]:
5 ** 2  # 5 squared

25

In [10]:
4 * 3.75 - 1

14.0

In [19]:
20+5
_+2

27

In [20]:
round(17.5423, 2)

17.54

In [21]:
#####STRINGS#####

'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [22]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [23]:
'"Yes," they said.'

'"Yes," they said.'

In [24]:
print('"Isn\'t," they said.')

"Isn't," they said.

In [25]:
s = 'First line.\nSecond line.'  # \n means newline
print(s)

First line.
Second line.

In [26]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [27]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [28]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [31]:
# 3 times 'un', followed by 'ium'
3 * 'un ' + 'ium'

'un un un ium'

In [32]:
'Py' 'thon'

'Python'

In [34]:
text = ('Put several strings within parentheses '
...         'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [36]:
word = 'Python'
word[-1]  # last character

'n'

In [37]:
word[2:5]

'tho'

In [38]:
word[:2] + word[2:]

'Python'

In [40]:
word[:2] + ' py'

'Py py'

In [41]:
len(word)

6

In [42]:
###LISTS####

squares = [1, 4, 9, 16, 25]
squares[-3:]

[9, 16, 25]

In [53]:
squares + [36, 49, 64]

['1,2,3,4', 216, 216, 36, 49, 64]

In [48]:
squares[1]=21
squares

[1, 21, 9, 16, 25]

In [61]:
squares.append(216)  # add the cube of 6
squares

['1', '2', '43', '4', 216]

In [60]:
squares[:3]=['1','2','43','4']
squares

['1', '2', '43', '4']

In [58]:
squares[:]=[]
squares

[]

In [62]:
len(squares)

5

In [66]:
a = ['a', 'b', 'c']
b = ['z', 'y']
c=[a,b]
c

[['a', 'b', 'c'], ['z', 'y']]

In [68]:
c[0][2]

'c'

In [73]:
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

In [74]:
i=500
print('The value of i is', i)

The value of i is 500

In [78]:
x = int(input("Please enter an integer: "))
if x < 5:
    print('flojo')
elif 5<x<15:
    print('ahi va')
else:
    print('dele')

Please enter an integer: 17
dele

In [ ]:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w, len(w))

In [83]:
for i in range(5):
...     print(i)

0
1
2
3
4

In [96]:
m=range(5)
m[4]

4

In [97]:
list(range(4))

[0, 1, 2, 3]

In [103]:
n=int(input('n: '))
for n in range(2, 10):
     for x in range(2, n):
         if n % x == 0:
             print(n, 'equals', x, '*', n//x)
             break
     else:
         # loop fell through without finding a factor
         print(n, 'is a prime number')

n: 5
2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [93]:
for j in range(0,20,2):
    print(j)

0
2
4
6
8
10
12
14
16
18

In [1]:
for num in range(2, 10):
     if num % 2 == 0:
         print("Found an even number", num)
         continue
     print("Found a number", num)

Found an even number 2
Found a number 3
Found an even number 4
Found a number 5
Found an even number 6
Found a number 7
Found an even number 8
Found a number 9

In [2]:
result = [1,2]
result.append(5)
print(result)

[1, 2, 5]

In [ ]:
while True:
     pass  # Busy-wait for keyboard interrupt (Ctrl+C)

In [3]:
def fib(n):    # write Fibonacci series up to n
     """Print a Fibonacci series up to n."""
     a, b = 0, 1
     while a < n:
         print(a, end=' ')
         a, b = b, a+b
     print()
print(fib(5))

0 1 1 2 3
None

In [4]:
fib(10)

0 1 1 2 3 5 8

In [5]:
def fib2(n):  # return Fibonacci series up to n
     """Return a list containing the Fibonacci series up to n."""
     result = []
     a, b = 0, 1
     while a < n:
         result.append(a)    # see below
         a, b = b, a+b
     return result

f100 = fib2(100)    # call it
f100                # write the result
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

In [7]:
def ask_ok(prompt, retries=4, reminder='Please try again!'):
    while True:
        ok = input(prompt)
        if ok in ('y', 'ye', 'yes'):
            return True
        if ok in ('n', 'no', 'nop', 'nope'):
            return False
        retries = retries - 1
        if retries < 0:
            raise ValueError('invalid user response')
        print(reminder)
ask_ok("do you want to quit?")

do you want to quit?n

False

In [9]:
i = 5
def f(arg=i):
    print(arg)

i = 6
f(10)

10

In [10]:
def f(a, L=[]):
    L.append(a)
    return L

print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

In [14]:
def f(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L
f(5)

[5]

In [16]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")
parrot(voltage=1000000, action='VOOOOOM')

-- This parrot wouldn't VOOOOOM if you put 1000000 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !

In [18]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [19]:
fruits.index('banana')

3

In [23]:
fruits.reverse()
fruits

['pear', 'orange', 'kiwi', 'banana', 'banana', 'apple', 'apple']

In [24]:
fruits.pop()

'apple'

In [26]:
fruits.popleft()

AttributeError: 'list' object has no attribute 'popleft'

In [25]:
fruits

['pear', 'orange', 'kiwi', 'banana', 'banana', 'apple']

In [22]:
fruits.sort()
>>> fruits

['apple', 'apple', 'banana', 'banana', 'kiwi', 'orange', 'pear']

In [27]:
combs = []
>>> for x in [1,2,3]:
...     for y in [3,1,4]:
...         if x != y:
...             combs.append((x, y))
...
>>> combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [28]:
matrix = [
...     [1, 2, 3, 4],
...     [5, 6, 7, 8],
...     [9, 10, 11, 12],
... ]

In [29]:
[[row[i] for row in matrix] for i in range(4)]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [30]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[2]
a

[-1, 1, 333, 333, 1234.5]

In [31]:
t = 12345, 54321, 'hello!'
>>> t[0]

12345

In [32]:
u = t, (1, 2, 3, 4, 5)
>>> u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [33]:
x, y, z = t
y

54321

In [35]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'pear', 'orange', 'apple', 'banana'}

In [36]:
'orange' in basket

True

In [37]:
a = set('abracadabra')
>>> b = set('alacazam')
>>> a

{'a', 'b', 'c', 'd', 'r'}

In [38]:
a = {x for x in 'abracadabra' if x not in 'abc'}
>>> a

{'d', 'r'}

In [39]:
tel = {'jack': 4098, 'sape': 4139}
>>> tel['guido'] = 4127
>>> tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [40]:
list(tel)

['jack', 'sape', 'guido']

In [41]:
sorted(tel)

['guido', 'jack', 'sape']

In [42]:
'jack' not in tel

False

In [43]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [44]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [45]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
>>> for k, v in knights.items():
...     print(k, v)

gallahad the pure
robin the brave

In [46]:
questions = ['name', 'quest', 'favorite color']
>>> answers = ['lancelot', 'the holy grail', 'blue']
>>> for q, a in zip(questions, answers):
...     print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [47]:
 for i in reversed(range(1, 10, 2)):
...     print(i)

9
7
5
3
1

In [48]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
>>> for f in sorted(set(basket)):
...     print(f)

apple
banana
orange
pear

In [49]:
import math
>>> raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
>>> filtered_data = []
>>> for value in raw_data:
...     if not math.isnan(value):
...         filtered_data.append(value)
...
>>> filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]